
  <div>  <img src="../../../assets/APLogo.png" id="aplogo">
   
    <a href="/login"><img src="../../../assets/acceso.png" (click)="login()" *ngIf="!isLogged" id="iconologo"></a>
    
    <a href="/login"><img src="../../../assets/salida.png" (click)="onLogOut()" *ngIf="isLogged" id="iconologo"></a>
  <a href="https://github.com/PabloR34"><img src="../../../assets/githubb.png" id="imgiconos" ></a>
    <a href="https://www.linkedin.com/in/pablo-gast%C3%B3n-roluti-102a16223/"><img src="../../../assets/linkedinb.png" id="imgiconos"> </a>
    <a href="https://www.facebook.com/Pablo.Roluti"><img src="../../../assets/facebookb.png" id="imgiconos"></a>
   
    
  </div>


 


