
<section class="home">
    <div class="in-flex"><h1>Hard & Soft Habilidades</h1>
    
<img src="../../../assets/skill.png" alt=""></div>
    <div class="in-flex">
    <div><circle-progress
        [percent]="95"
        [radius]="60"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#66faff'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress> 
    <circle-progress
    [percent]="90"
    [radius]="60"
    [imageSrc]="'../assets/formato-de-archivo-css.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#66faff'"
    [innerStrokeColor]="'#ffffff'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
<circle-progress
[percent]="70"
[radius]="60"
[imageSrc]="'../assets/java.png'"
[showImage]="true"
[imageHeight]="90"
[imageWidth]="90"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#66faff'"
[innerStrokeColor]="'#ffffff'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
<circle-progress
        [percent]="65"
        [radius]="60"
        [imageSrc]="'../assets/github.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#66faff'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>

    <circle-progress
        [percent]="80"
        [radius]="60"
        [imageSrc]="'../assets/taza-caliente.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#66faff'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>

</div>
    <div>
    </div>
    </div>
    
    </section>





