<div class="in-flex">
    <H1>Proyectos Actuales</H1>
      <li>
        <h3>CoderSolidario</h3>
        <img src="../../../assets/solidaridad.png" />
  
        <p>
          Junto a mi amigo y socio Matias Mariñansky nos encontramos en las primeras
          fases de desarrollo de una app para que de manera sencilla una persona pueda publicar 
          lo que necesita y asi otra persona que este registrada en CoderSolidario como VOLUNTARIO pueda 
          ayudarla. De esta manera la app une a la persona que tiene una necesidad con la que puede ayudar.
        </p>
      </li>

      <li>
        <h3>CoderMascotas</h3>
        <img src="../../../assets/casa-de-mascotas.png" />
        <p>
          Junto a mi amigo y socio Matias Mariñansky estamos en Desarrollo una app para que de manera 
          sencilla una persona pueda publicar una mascota sin hogar para otra que este registrada
          en CoderMascotas como NUEVOHOGAR pueda adptarla. De esa manera la app une a la mascota con un
          nuevo dueño. 
        </p>
      </li>  
  </div>
